.image-galery {
    transition: all 0.3s ease-out;
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
    cursor: pointer;
}

.image-galery:hover {
    transform: scale(1.1);
    position: relative;
    z-index: 999;
    border-radius: 10px;
}